<!DOCTYPE html>
<html>
<header>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: lightblue">
        <a class="navbar-brand" href="{{ path('car_homepage') }}">WheelyGoodCars</a>
        {% if app.user %}
            <a class="nav-link" href="{{ path('app_logout') }}">Logout</a>
        {% else %}
            <a class="nav-link" href="{{ path('app_login') }}">Login</a>
            <a class="nav-link" href="{{ path('app_register') }}">Register</a>
        {% endif %}
    </nav>
</header>
<div class="container">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <link rel="stylesheet" href="{{ asset("css/bootstrap.css") }}"/>
        <link rel="stylesheet" href="{{ asset("css/custom.css") }}"/>
        {% block stylesheets %}
        {% endblock %}

        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}
    </body>
</div>
</html>
